@import 'config';

.dark{
  background-color:#111;
}

.header{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color:#111;
}

.header-inner{
  padding: 15px 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  img{
    height: 50px;
  }
}


.social-nework{
  i{
    font-size: 22px;
    color: whitesmoke;
  }
}

.nav-list{
  :last-child{
    margin-right: 0;
  }
  li{
    margin: 0 17px;
    a{
      color: #c2a0fc;
    }
  }
}


.welcome{
  width: 100%;
  height: 400px;
  background-color: #222;
  border-bottom: 1px solid #9999;
  .welcome-inner{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1{
      font-size: 60px;
      color:$primary-color;
      letter-spacing: 2px;
      padding-bottom: 10px;
    }
    h3{
      color:$primary-color;
      letter-spacing: 2px;
      border: 1px solid #333;
    }
  }
}

.portoflio-headline{
  display: flex;
  align-items: center;
  padding: 20px 0 ;
  h3{
    font-weight: lighter;
    color:$primary-color;
    font-size: 20px;
    margin: 0 0 0 5px;
    padding: 0;
  }
  i{
    font-size: 22px;
    color: whitesmoke;
  }
}
.portfolio-grid{
  margin: 50px 0;
  .row{
    border: 1px solid #222;
  }
  .col-lg-5, .col-lg-7{
    padding: 0;
  }
}
.gridItem-image{
  width: 100%;
  height: 400px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item-name{
  padding-bottom: 20px;
  color: whitesmoke !important;
}

.gridItem-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 400px;
  // background-color: $primary-color;
  padding: 20px;
  h1{
    color: #222;
    font-size: 30px;
  }
}

.navIcon-hidden{
  font-size: 33px;
  color: $primary-color;
  display: none;
}

.item-techmology{
  h3{
    color: rgb(210, 210, 255);
    font-size: 18px;
  }
  img{
    height: 25px;
  }
  li{
    display: flex;
    align-items: center;
    margin: 15px 0;
  }
  h4{
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: $primary-color;
  margin-left: 10px;
}
}

.item-src{
  width: 100%;
  :nth-child(2){
    margin-left: 15px;
  }
  a{
    border: 1px solid #999;
    background-color: $primary-color;
    padding: 5px;
    color: black;
    transition: .3s;
  }
  a:hover{
    color: black;
    background-color: white;
    border: 1px solid transparent;
    transition: .3s;
  }
}

footer{
  padding: 20px 0;
  background-color: #222;
  .row{
    display: flex;
    align-items: center;
  }
}

.footer-copyright{
  color: $primary-color;
  display: flex;
  align-items: center;
  i{
    margin-right: 4px;
  }
}

.footer-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  li{
    display: flex;
    align-items: center;
    color: $primary-color;
    i{
      font-size: 20px;
    }
  }
  h5{
      color: $primary-color;
      margin: 0;
      padding: 0;
      margin: 3px 4px;
      font-size: 17px;
  }
}